---
import Link from "./Link.astro";
import dataList from '../data/user.json';

const items = dataList.links;

---

<div class="list" id="list">
    {
        items.map((item) => {
            return (
                <Link 
                    icon={item.icon} 
                    title={item.title} 
                    description={item.description} 
                    url={item.url}
                ></Link>
            )}
        )
    }
</div>
<!-- <a href="/jcai_cv.pdf" class="image fit"></a> -->
<style>
    .list {
        font-family: "Inter Tight", sans-serif;
        font-size: 0.8rem;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin-top: 2.0rem;
        display: grid;
        gap: 0.875rem;
    }
</style>